<mat-card>
    <mat-card-title>Excluir Proprietário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="proprietario.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF/CNPJ" [value]="proprietario.cpfcnpj" name="cpfcnpj" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProprietario()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>