<mat-card>
    <mat-card-title>Alterar Laboratório</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Razão Social" [(ngModel)]="laboratorio.labRazaoSocial" name="labRazaoSocial">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="laboratorio.labNomeFantasia" name="labNomeFantasia">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CNPJ" [(ngModel)]="laboratorio.labCnpj" name="labCnpj">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="laboratorio.labEndereco" name="labEndereco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="laboratorio.labTelefone" name="labTelefone">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="updateLaboratorio()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>