<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [value]="laboratorio.labRazaoSocial" name="labRazaoSocial" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [value]="laboratorio.labNomeFantasia" name="labNomeFantasia" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cnpj" [value]="laboratorio.labCnpj" name="labCnpj" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [value]="laboratorio.labEndereco" name="labEndereco" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="laboratorio.labTelefone" name="labTelefone" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteLaboratorio()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>