<mat-card>
    <mat-card-header>
        <mat-card-title>Nova Amostra</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        
        <form action="">
            <mat-form-field>
                <input matInput placeholder="Descrição" [(ngModel)]="amostra.amoDescricao" name="amoDescricao" type="text">
            </mat-form-field>
            <!--
            <mat-form-field>
                <input matInput placeholder="Chegada" [(ngModel)]="amostra.amoChegada" name="amoChegada" type="text">
            </mat-form-field>
            -->
            <mat-form-field appearance="fill" class="example-form-field">
              <mat-label>Data chegada</mat-label>
              <input matInput placeholder="Chegada" [(ngModel)]="amostra.amoChegada" name="amoChegada" [matDatepicker]="datepicker">
              <mat-hint>DD/MM//YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
          </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Saida" [(ngModel)]="amostra.amoSaida" name="amoSaida" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Peso" [(ngModel)]="amostra.amoPeso" name="amoPeso" type="number">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Finalizada" [(ngModel)]="amostra.amoFinalizada" name="amoFinalizada" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cancelada" [(ngModel)]="amostra.amoCancelada" name="amoCancelada" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Usuário</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoUsuario" name="amoUsuario">
                  <option *ngFor="let usuarios of usuario" [value]="usuarios.usuId">{{usuarios.usuEmail}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Tipo de Analise</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoAnalise" name="amoAnalise">
                  <option *ngFor="let analises of analise" [value]="analises.tipId">{{analises.tipDescricao}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Cultura</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoCultura" name="amoCultura">
                  <option *ngFor="let culturas of cultura" [value]="culturas.culId">{{culturas.culDecricao}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Proprietário</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoProprietario" name="amoProprietario">
                  <option *ngFor="let proprietarios of proprietario" [value]="proprietarios.proId">{{proprietarios.proNome}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Tecnico</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoTecnico" name="amoTecnico">
                  <option *ngFor="let tecnicos of tecnico" [value]="tecnicos.tecId">{{tecnicos.tecNome}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Laboratório</mat-label>
                <select matNativeControl required [(ngModel)]="amostra.amoLaboratorio" name="amoLaboratorio">
                  <option *ngFor="let laboratorios of laboratorio" [value]="laboratorios.labId">{{laboratorios.labCnpj}}</option>
                </select>
              </mat-form-field>
        </form>

        <button appGreen mat-raised-button (click)="createAmostra()">Salvar</button>
        <button appRed mat-raised-button (click)="cancel()">Cancelar</button>

    </mat-card-content>
    
</mat-card>