<mat-card>
    <mat-card-title>Novo Proprietário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="proprietario.proNome" name="proNome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF/CNPJ" [(ngModel)]="proprietario.proCpfCnpj" name="proCpfCnpj">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="DDD" [(ngModel)]="proprietario.proDdd" name="proDdd">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="proprietario.proTelefone" name="proTelefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="proprietario.proCidade" name="proCidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="UF" [(ngModel)]="proprietario.proUf" name="proUf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="proprietario.proEndereco" name="proEndereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" [(ngModel)]="proprietario.proBairro" name="proBairro">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP" [(ngModel)]="proprietario.proCep" name="proCep">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="createProprietario()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>

