.sidenav {
    background-color: #0c0b0b;
    width: 180px;
}

.sidenav a {
    color: rgb(18, 180, 80);
    
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}

/*expansion*/

.expansion {
    background-color: #0c0b0b;
    width: 180px;
}

.expansion a {
    color: rgb(18, 180, 80);
}

.expansion i {
    padding-right: 10px;
}

.titulo {
    color: rgb(18, 180, 80);
}

.material-icons {
    color: rgb(18, 180, 80);
}