<mat-card>
    <mat-card-header>
        <mat-card-title>Novo Técnico</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        
        <form action="">
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)]="tecnico.tecNome" name="tecNome" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="DDD" [(ngModel)]="tecnico.tecDdd" name="tecDdd" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Telefone" [(ngModel)]="tecnico.tecTelefone" name="tecTelefone" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cidade" [(ngModel)]="tecnico.tecCidade" name="tecCidade" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="UF" [(ngModel)]="tecnico.tecUf" name="tecUf" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Endereço" [(ngModel)]="tecnico.tecEndereco" name="tecEndereco" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Bairro" [(ngModel)]="tecnico.tecBairro" name="tecBairro" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="CEP" [(ngModel)]="tecnico.tecCep" name="tecCep" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>CRQ</mat-label>
                <select matNativeControl required [(ngModel)]="tecnico.tecCrq" name="crq">
                  <option *ngFor="let crqs of crq" [value]="crqs.crqId">{{crqs.crqDescricao}}</option>
                </select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Laboratório</mat-label>
                <select matNativeControl required [(ngModel)]="tecnico.tecLaboratorio" name="laboratorio">
                  <option *ngFor="let laboratorios of laboratorio" [value]="laboratorios.labId">{{laboratorios.labNomeFantasia}}</option>
                </select>
              </mat-form-field>
        </form>

        <button appGreen mat-raised-button (click)="createTecnico()">Salvar</button>
        <button appRed mat-raised-button (click)="cancel()">Cancelar</button>

    </mat-card-content>
    
</mat-card>